#h1404 {
    font-size:90px;
    font-weight:800;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    color: #1b1919;
    margin-top:-5px;
}
#h2404 {
    font-size:35px;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    margin-top:-50px;
    color: #1b1919;
}
#h3404 {
    font-size:25px;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    margin-top:10px;
    color: #1b1919;
}
#container404 {
    width:500px;
    margin: 0 auto;
    margin-top:15%;
}
#hr404 {
    border: 2px solid#a7d129;
}
body {
    background-color: #f8eeb4;
}
nav.navbar.navbar-default{
    background-color: #a7d129;
    border-color: #a7d129;
}
ul.nav.navbar-nav{
    background-color: #a7d129;
}
.navbar-default .navbar-nav>.active>a{
    color: #1b1919;
    background-color: #AFD53E;
}
.navbar-default .navbar-nav>li>a {
    color: #1b1919;
}
.navbar-default .navbar-brand {
    color: #1b1919;
}
legend {
    border-bottom: 1px solid #1b1919;
}
hr {
    border-top: 1px solid #f8eeb4;
}
.img-thumbnail {
    background-color: #C1DE69;
    border: 1px solid #C1DE69;
}
.table-responsive {
    border: 1px solid #f8eeb4;
}
.table>thead>tr>th {
    border-bottom: 2px solid #DFD6A2;
}
tr {
    border-bottom: 2px solid #DFD6A2;
}